jinja2~=2.10
pycryptodome~=3.14.1
python_dateutil~=2.8.2
aiohttp~=3.8.1
lxml~=4.8.0
pytz~=2019.3
requests~=2.23.0
sogou_tr_free~=0.0.8
zhconv~=1.4.1
Pillow~=9.1.0
matplotlib~=3.2.1
numpy~=1.22.3
beautifulsoup4~=4.9.0
pygtrie~=2.3.3
tinydb~=4.1.1
peony-twitter[all]~=2.1.2
cloudscraper~=1.2.60
werkzeug~=1.0.1
wsproto~=0.15.0
nonebot[scheduler]==1.8.0
retrying
logzero
opencc
feedparser~=6.0
PyGithub
arrow
peewee
expiringdict
html2text
pyyaml>=5.3.1
cn2an
ujson
msgpack
azurlane
imgkit
opencv-python
aiofiles
pypinyin
sqlitedict
APScheduler~=3.6
opencc-python-reimplemented~=0.1.5
quart
CairoSVG
urwid==2.1.2
loguru
